@font-face {
  font-family: sans-serif;
  src: url(../font/Lato-Regular.ttf);
}

* {
  /* Include padding and border in the element's total width and height: */
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  background-color: black;
  background-image: url(../img/bg2020_5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: white;
  font-family: 'Lato', sans-serif;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-family: 'Lato', sans-serif;
}

h2, h4, .nav__link, .header__caption {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  margin:	1.5em 0 0.7em 0;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 1.8em 0 1.2em 0;
}

h4 {
  font-weight: bold;
}

p {
  margin: 1em 0;
  font-weight: 300;
  line-height: 1.3em;
}

a {
  color: white;
  word-wrap: break-word;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  flex-direction: row;
}

.line {
  border-bottom: 1px solid #bbb;
  border-top: none;
  margin: 1em 0 2em 0;
}

@media screen and (max-width: 767px) {
  .calendar {
    height: 600px;
  }
}

/*=====================================
CONTENT
=====================================*/

@media screen and (min-width: 1001px) {
  .content {
    margin: 0 auto;
  }
}

.content {
  margin-top: 1em;
  padding: 0 2em;
  background-color: rgba(0,0,0,0.7);
}

.content__section {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  padding-top: 0.25em;
}

@media screen and (min-width: 1001px) {
  .content__row {
    -webkit-columns: 2; /* Chrome, Safari, Opera */
    -moz-columns: 2; /* Firefox */
    columns: 2;
    column-gap: 2em;
  }
}

.doc__link, .demo__link {
  display: block;
  margin: 1.2em 0 0.5em 0;
  font-weight: bold;
}

.doc__caption, .demo__desc {
  line-height: 1.2em;
}


/*=====================================
NAV
=====================================*/
/* nav bar stationary*/
.nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background: #1a1e3db3;
  /*background: rgba(255, 255, 255, 0.5);*/
  /*transition: background-color 500ms ease;*/
  justify-content: center;
}

/* when nav bar is moving down */
.nav--solid {
  background: #1a1e3dd9;
}

/* nav links */
.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 100%
  display: inline-block;
  padding: 0.5em;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  width: auto;
  -webkit-transition: all 330ms ease-in-out;
  -moz-transition: all 330ms ease-in-out;
  -ms-transition: all 330ms ease-in-out;
  -o-transition: all 330ms ease-in-out;
  transition: all 330ms ease-in-out;
}

.nav__div {
  padding: .5em .7em;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.nav__icons {
  margin: 4px;
  object-fit: none;
  height: 19px;
}

.nav__link:hover {
  background-color: #71699299;
  /*background: rgba(255,255,255,0.1);*/
}

/* nav toggle is the menu bar in mobile mode */
.nav__toggle {
  display: none;
  position: fixed;
  top: 0.75rem;
  right: 0.75rem;
  padding: 1.2rem;
  font-size: 1.2em;
  background: #1a1e3db3;
  /*background: rgba(0,0,0,0.5);*/
  border: none;
  color: #fff;
}

.nav__toggle:focus{
  /* // the color of the hamburger menu bar when clicked */
  /*background: rgba(128, 128, 128, 0.5);*/
  background-color: #71699299;
}

/* when screen is at most 767px wide */
/* this is essentially affecting mobile mode */
@media screen and (max-width: 767px) {
  .nav {
    text-align: left;
  }
  .nav__toggle {
    display: block;
  }
  .nav__link {
    display: block;
    /* margin: 10px; */

  }
  .nav__wrapper {
    left: 100%;
    top: 0;
    position: fixed;
    width: 250px;
    height: 100vh;
    background: #1a1e3db3;
  }
  .nav__div {
    flex-direction: unset;
  }
}

@media screen and (min-width: 768px) {
  .nav__wrapper {
    display: flex;
    justify-content: center;
    padding-right: 1em;
  }
}

/*=====================================
HEADER
=====================================*/

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 0;
  height: 100vh;

  background-image: url(../img/header2020_1.png);
  background-color: #000;
  background-size: cover;
  background-position: center;
}

.header__block {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

/* this is the "CSCI 1230" */
.header__title {
  padding: 2em;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  color: #fff;
  z-index: 1;
  font-family: 'Lato', sans-serif;
  font-size: 3.5vw;
}

.header__shadow-grey{
    text-shadow: 1px 1px #DDD4EF,
                 2px 2px #4A372A,
                 3px 3px #4A372A,
                 4px 4px #86828A,
                 5px 5px #86828A,
                 6px 6px #86828A;
}

.header__shadow-red{
    text-shadow: .5px .5px #E63420;
}

.header__subtitle {
  /* font-size: 0.75em; */
  font-size: 2vw;
  color: #E0E0F3;
  font-weight: bold;
}

@media screen and (max-width: 1100px) {
  .header__title {
    padding: 1.8em;
  }
}

@media screen and (max-width: 767px) {
  .header__title {
    padding: 1rem;
    font-size: 6.5vw;
  }
  .header__subtitle {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 480px) {
  .header {
    justify-content: center;
  }
  .header__title {
    padding-right: 1rem;
  }
}

/*=====================================
BANNER
=====================================*/

.banner {
  min-height: 26vh;
  background-color: #D2E5CD;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.banner__title {
  color: #2c2c2c;
  text-decoration: none;
  padding: 2em 2em;
  font-size: 1.2em;
  line-height: 2.2em;
  width: 100%;
}

@media screen and (max-width: 379px) {
  .banner__title {
    font-size: 1em;
  }

  .banner{
      min-height: 12vh;
  }
}

/*=====================================
TABLES
=====================================*/

.table__wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 500px;
}

tr {
  margin: 1rem;
  text-align: right;
}

td:first-child{
  text-align: left;
  padding-right: 1rem;
}

th, td {
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  padding: 0.5rem 0;
}

th {
  font-weight: bold;
}

/*=====================================
FOOTER
=====================================*/

footer {
  padding: 2rem;
}

/*=====================================
NAV SIDEBAR ANIMATION
=====================================*/

.transform__wrapper {
  -webkit-transition: transform 300ms ease;
  -moz-transition: transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
}

@media (max-width: 768px) {
  .transform--left {
    transform: translate(-250px);
  }
}

@media screen and (min-width: 768px) {
  .index {
    display: flex;
  }

  .summary {
    flex: 1;
    margin-right: 10pt;
  }
  .summary h3 {
    margin: 10pt 0pt;
  }
  .calendar {
    flex: 1;
    margin-left: 10pt;
    height: 800px;
  }
  .calendar h2 {
    margin: 10pt 0pt;
  }
}
