.ui-slider {
    width: 600px;
    text-align: center;
    display: block;
    margin: auto;
}
.ui-slider {
  height: 256px;
}

.centered {
  text-align: center;
  display: block;
  margin: auto;
}

.graph {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  display: inline-block;
}

.slider-label {
  font-family: Arial;
  margin-bottom: 10px;
}
