/*body {
  background-color: black !important;
}

h2 {
  color: white !important;
}*/

#bars{
  margin-bottom: 5%;
  margin-top: 5%;
}

#cyanBar {
  width: 50px;
  height: 200px;
  margin-right: 10px;
  background-color: #d3d3d3;
}

#cyanColored {
  width: 30px;
  background-color: #00FFFF;
  margin-right: 5px;
}

#magentaBar {
  width: 50px;
  height: 200px;
  background-color: #d3d3d3;
  margin-right: 10px;
}

#magentaColored {
  width: 30px;
  background-color: #FF00FF;
  margin-right: 5px;
}

#yellowBar {
  width: 50px;
  height: 200px;
  background-color: #d3d3d3;
  margin-right: 10px;
}

#yellowColored {
  width: 30px;
  background-color: #FFFF00;
  margin-right: 5px;
}

#blackBar {
  width: 50px;
  height: 200px;
  background-color: #d3d3d3;
  margin-right: 10px;
}

#blackColored {
  width: 30px;
  background-color: #000000;
  margin-right: 5px;
}