<nav class="nav">
  <div class="nav__wrapper container transform__wrapper">
    <a class="nav__link" href="index.html">
      <div class="nav__div">
        <img class="nav__icons" src="./img/icons/bread2020-icon.png"/>Home</div>
    </a>
    <a class="nav__link" href="hours.html">
      <div class="nav__div">
        <img class="nav__icons" src="./img/icons/bun2020-icon.png"/>Hours</div>
    </a>
    <a class="nav__link" href="staff.html">
      <div class="nav__div">
        <img class="nav__icons" src="./img/icons/pie2020-icon.png"/>Staff</div>
    </a>
    <a class="nav__link" href="asgns.html">
      <div class="nav__div">
        <img class="nav__icons" src="./img/icons/baguette2020-icon.png"/>Assignments</div>
    </a>
    <a class="nav__link" href="labs.html">
      <div class="nav__div">
        <img class="nav__icons" src="./img/icons/bun2020-icon.png"/>Labs</div>
    </a>
    <a class="nav__link" href="lectures.html">
      <div class="nav__div">
        <img class="nav__icons" src="./img/icons/pie2020-icon.png"/>Classes</div>
    </a>
    <a class="nav__link" href="docs.html">
      <div class="nav__div">
        <img class="nav__icons" src="./img/icons/cookie2020-icon.png"/>Docs</div>
    </a>
    <a class="nav__link" href="demos.html">
      <div class="nav__div">
        <img class="nav__icons" src="./img/icons/cookie2020-icon.png"/>Demos</div>
    </a>
  </div>
  <button class="nav__toggle">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
</nav>
